@import url('main-content.css');
@import url('Search.css');
@import url('Catalog.css');
@import url('Instrument.css');
@import url('Validation.css');
@import url('Auth.css');
@import url('Profile.css');
@import url('Admin.css');
@import url('InstrumentEdit.css');

:root {
  --header-height: 60px;
}

#root {
  width: 100%;
  min-height: 100vh;
}
.btn {
  transition: background-color 0.15s;
}
.color-primary {
  color: var(--primary);
}
.color-secondary {
  color: var(--secondary);
}
.color-black {
  color: var(--black);
}
.color-white {
  color: var(--white);
}
body {
  margin: 0;
  padding: 0;
}
input {
  position: relative;
  padding: 8px 10px;
}
input::file-selector-button {
  width: 50%;
  height: 100%;
  border: 0;
  border-radius: 5px;
  background-color: var(--dark-grey);
}
img {
  max-width: 100%;
  max-height: 100%;
}
a {
  max-width: 100%;
  max-height: 100%;
}
header 
{
  display: grid;

  width: 100%;
  height: var(--header-height);
  background-color: #0f0f0f;
  grid-template-columns: var(--page-pleft) 75px 25% 1fr 1fr 1fr var(--page-pright);
  grid-template-rows: 100%;
  gap: 20px;
}
header > * {
  display: flex;
  justify-content: center;
  align-items: center;
}

header a {
  font-weight: 500;
  color: #e2e2e2;
  text-decoration: inherit;
}
header a:hover {
  color: var(--white);
}

.container {
  margin: 1%;
}
header .basket { 
  width: 50%;
  height: 50%;
  max-height: 100%;
  background: url(../assets/icons/basket-white.svg) no-repeat center;
  background-size: contain;
}

.hr-indent {
  margin-top: 20px;
  margin-bottom: 20px;
}
.icon {
  height: 1em;
  padding: 0 5px;
}
button > .icon {
  transition: background-color 0.15s;
}
button:hover {
  border-color: transparent;
}
.logo-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
button:focus {
  outline: none;
}
.logo-icon {
  width: 80%;
  height: 80%;
}

footer {
  display: grid;
  width: calc(100% - var(--page-pleft) - var(--page-pright));
  height: 300px;
  grid-template-columns: 100%;
  grid-template-rows: 175px 125px;
  background-color: var(--black);
  padding: 30px var(--page-pleft) 30px var(--page-pright);
}

footer .top-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid var(--dark-grey);
}