.catalog {
    display: flex;
    flex-direction: row;
    text-align: justify;
}

.catalog-button {
    position: relative;
}
.catalog-dropdown-list {
    display: flex;
    flex-direction: row;
    gap: 5px;
    width: 125px;
    height: 45px;
    justify-content: center;
    align-items: center;
    line-height: 100%;
    border-radius: 5px;
    background-color: var(--primary);
    font-size: 1.1rem;
}
.catalog-dropdown-list__open {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 125px;
    height: 300px;
    scale: 1 0;
    transform: translateY(-5px);
    background-color: var(--primary);
    z-index: 1;
    transition: scale 0.3s ease-in-out;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    transform-origin: 0 -5px;
}
.catalog-dropdown-list__open > .catalog-dropdown-list__items {
    transition: opacity calc(0.4s);
    opacity: 0;
}
.catalog-dropdown-list__open > .catalog-dropdown-list__items > * {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 2.1rem;
    font-size: 1.05rem;
    color: var(--white);
}
.catalog-dropdown-list__open > .catalog-dropdown-list__items > *:hover {
    background-color: color-mix(in srgb, var(--primary) 80%, white 20%);
}