.validation-field__input {
    color: var(--black);
    height: fit-content;
    background-color: var(--white);
    border: 1px solid var(--dark-grey);
    border-radius: 5px;
    padding: 5px 10px;
}

.validation-field__input:active {
    outline-color: 1px solid var(--dark-grey);
}

.validation-error {
    --main-color: var(--fail);
    color: var(--main-color);
    border: 1px solid var(--main-color);
}

.validation-passed {
    --main-color: var(--pass);
    color: var(--main-color);
    border: 1px solid var(--main-color);
}

.pass-field {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    color: yellowgreen;
    background-color: color-mix(in srgb, var(--pass) 30%, transparent);
    border: 1px solid var(--pass);
    border-radius: 5px;
    padding: 5px 10px;
    margin: 10px;

}

.fail-field {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    color: red;
    background-color: color-mix(in srgb, var(--fail) 30%, transparent);
    border: 1px solid var(--fail);
    border-radius: 5px;
    padding: 5px 10px;
    margin: 10px;
}
